.grid-product__image-mask{
    border-radius: 10px;
}

.collection-showcase__wrapper {
    padding: 24px 0;
    background-color: var(--colorBody);
    color: var(--colorInputText)
}


 [data-animate_buttons=true] .collection-showcase__wrapper .btn:not(.btn--no-animate):not(.btn--tertiary):not(.btn--static){
   border: 1px solid var(--colorInputText);
}
@media screen and (max-width: 1024px) {
    .grid-overflow-wrapper .grid__item.btn-view-all{
        grid-column: 1/-1;
    }
.collection-showcase__wrapper .grid--uniform{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    margin: 0;
    gap: 24px 16px;
}
.grid-overflow-wrapper .grid__item:first-child{
    margin-left: 0;
}
.grid-overflow-wrapper .grid__item{
    width: 100%;
    padding: 0;
}
}