
.announcement a,
.announcement a:hover{
color: var(--colorAnnouncementText);
text-decoration: underline;
opacity: 1;
color: var(--colorBody);
}

  .announcement__text p{
    margin-bottom: 0;
    font-size: 10px
  }
  .announcement__text{
    padding: 16px 0;
  }
  .site-header__logo{
    margin: 0!important;
  }

  .page-full, .page-width{
    padding: 0 16px;
  }

  .not_mobile{
    display: none;
  }

  .header-wrapper--overlay .site-header:not(.site-header--stuck){
    filter: brightness(0) invert(1);
  }
  @media only screen and (max-width: 589px) {
    .site-nav__link--icon .icon {
        height: 22px!important;
        width: 22px!important;
    }
}
  @media only screen and (min-width: 590px) {
    .site-header {
         padding: 5px 0; 
    }

    .site-nav__link--icon .icon{
    width: 22px!important;
    height: 22px!important;
    }

    .header-layout[data-logo-align=center] .header-item--logo{
      margin-left: 0;
    }
}
  @media screen and (min-width: 769px) {
    .announcement__text p{
        font-size: 14px;
       
      }
      .not_mobile{
        display: flex;
      }
    .not_desktop{
      display: none;
    }

    .site-nav__icons{
      display: flex;
    }
  }