
.cart-drawer__recomm-title{
  padding: 16px 0;
  display: flex;
  font-size: 14px;
}
.recomm_card_content{
  display: flex;
  align-items: center;
  gap: 8px;
}
.recommended-product-card{
  background-color: var(--color_background);
  padding: 8px;
  display: flex;
  gap: 16px;
}
.recomm_card_img{
  width: 70px;
}
/*PROGRESS BAR CART START*/
.cart-drawer__shipping {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--colorDrawerBorder);
  padding-bottom: 64px;
  margin-bottom: 16px;
}

.human-action-info__wrapper .image-wrap{
  max-width: 78px;
  width: 78px;
}

.drawer .js-qty__adjust:hover{
  border-radius: 10px;
}

.human-action-info__wrapper{
  display: flex;
  align-items: center;
  gap: 24px;
  border-top: 1px solid var(--colorBorder);
   border-bottom: 1px solid var(--colorBorder);
  padding-block: 32px;
}

.human-action-info__text{
  max-width: 266px;
}
.cart-drawer__shipping-text{
  padding-bottom: 32px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.shipping-progress-container {
  position: relative;
  margin-top: 0.5rem;
  max-width: calc(100% - 25px);
}

.shipping-progress-track {
  background:  #F4F4F4;
  border-radius: 4px;
  height: 10px;
  overflow: hidden;
}

.shipping-progress-fill {
  background: var(--colorInputText);    /* free‐to‐sale gradient? */
  height: 100%;
  transition: width 0.3s ease;
}

.shipping-progress-icon {
  background: white;
  border-radius: 50%;
  padding: 0.25rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--colorInputText);
}

.shipping-progress__wrapper-icon-txt{
   position: absolute;
    top: 50%;
    transform: translate(-50%, -30%);
   transform-origin: center center;
   display: flex;
   justify-self: center;
   flex-direction: column;
   gap: 8px;
   align-items: center;
}

.free-shipping-txt{
 
  max-width: 100px;
  text-align: center;
}
.sale-amount-txt{

  max-width: 60px;
  text-align: center;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
.pulse .shipping-progress-icon {
  animation: pulse 1s ease-in-out infinite;
}

/*PROGRESS BAR CART END*/
.free-shipping-txt,
.sale-amount-txt{
  font-size: 16px;
   font-family: var(--typeHeaderPrimary);
   font-weight: bold;
}
.drawer__title,
.cart-drawer__shipping-text
{
  font-size: 16px;
  font-style: italic;
  text-transform: uppercase;
  font-family: var(--typeHeaderPrimary);
  letter-spacing: -0.4px;
  line-height: 28px;
  width: fit-content;
  font-weight: bold;
}

[data-animate_buttons=true] .btn.cart__checkout:not(.btn--no-animate):not(.btn--tertiary):not(.btn--static),
.drawer .cart__checkout{
 background: var(--colorBtnPrimary) var(--urlButtonArrowPng) no-repeat 150% 35%;;
   background-color:var(--colorCartDot) !important;
}
.cart__checkout-wrapper{

}

.cart__item--variants{
  opacity: 0.5;
  display: flex;
  align-items: center;

}
.cart__item--variants span{
  font-weight: normal;
  font-family: var(--typeBasePrimary);
}
.cart-option-separator{
  padding-inline: 8px;
}
.drawer .js-qty__num{
  border-radius: 10px;
}


.cart__product-name,
.human-action-info__text{
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  font-family: var(--typeHeaderPrimary);
  font-weight: bold;
  font-style: italic;
}
.drawer__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer__close-button{
  padding: 0;
  right: 0;
}
.drawer__close{
  width: fit-content;
  width: 24px;
  height: 24px;
}
.cart__title-counter-wrapper{
  display: flex;
  align-items: center;
  gap: 8px;

}
.cart__counter-wrapper{
  font-size: 12px;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorCartDot);
  color: var(--colorBody);
}

.page-width.section-blog-showcase{
  padding: 32px 16px;
  background: linear-gradient(to bottom, #f9f9f9, #ffffff);
}

.index-section--hero{
  overflow: hidden;
}

.article__title,
.cart__item-sub.cart__item-row{
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.5px;
  font-style: italic;
  font-family: var(--typeHeaderPrimary);
  font-weight: bold;
  text-transform: uppercase;
}
.article__grid-meta{
  margin-bottom: 0;
}
.article-card__content{
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  margin-top: 12px;
}

.section-blog-showcase .grid.grid--uniform{
  display: grid;
  grid-template-columns: 1fr 1fr;
 margin-left: 0;
  gap: 16px;
}
.section-blog-showcase .grid__item{
  padding-left: 0;
}
.article__date{
  margin-top: 12px;
  font-size: 14px;
  line-height: 22.4px;
  letter-spacing: 0;
}
.article__date time{
  opacity: 0.5;
  text-transform: capitalize;
}
.article-date-icon-wrapper{
  display: flex;
  align-items: center;
  gap: 8px;
}
.article-date-icon-wrapper svg{
  opacity: 0.5;
}
.image-wrap{
  border-radius: 10px;
  overflow: hidden;
}
.grid__image-ratio,
.grid-product__secondary-image{
  border-radius: 10px;
  overflow: hidden;
}
[data-type_header_text_alignment=true] .collection-description{
  text-align: start;
}

.collection-description{
  font-style: normal!important;
  text-transform: none!important;
}
.grid__image-ratio img.grid__image-contain{
  object-fit: cover;
}

/*FONTS*/
.text-with-icons__block-title h3
{
  font-size: 18px;
  font-family: var(--typeHeaderPrimary);
  font-style: italic;
  line-height: 28px;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}

.testimonials-slide .testimonials-slider__text{
  border-radius: 10px;
  overflow: hidden;
}

.site-footer .collapsible-content p,
.collapsible-trigger span,
.faq__txt p,
.enlarge-text p,
p{
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0;
}
.theme-block{
  margin-block: 16px;
}

.newsletter-container .image-wrap{
  width: 100%;
  height: 100%;
}
.newsletter-section__content .enlarge-text strong{
  opacity: 0.5;
  font-weight: normal;
}
.countdown__display-block h2,
.video-slideshow-title h2,
.video-slideshow-title strong,
.collection-title {
  font-family: var(--typeHeaderPrimary);
  font-size: 36px;
  font-style: italic;
  letter-spacing: -0.8px;
  line-height: 44px;
}



.countdown__heading,
.countdown__heading>*,
.grid-newsletter .collapsible-trigger-btn,
.big-heading p,
.big-heading,
h2,
.newsletter-section__content .h2,
.community-section .section-header h2,
.comunity-section__heading h3,
.comunity-section__heading h3 p{
  font-family: var(--typeHeaderPrimary);
  font-size: 28px;
  font-style: italic;
  letter-spacing: -0.8px;
  line-height: 130%;
  font-weight: bold;
}
.shopify-pc__banner__body-title,
.shopify-pc__banner__dialog h2{
    font-family: var(--typeHeaderPrimary)!important;
    font-size: 28px!important;
    font-style: italic!important;
    letter-spacing: -0.8px!important;
    line-height: 130%!important;
    font-weight: bold!important;
}
.shopify-pc__banner__body,
.shopify-pc__banner__dialog p{
  font-family: var(--typeHeaderPrimary)!important;
}
.shopify-pc__prefs__header-close:focus{
  box-shadow: none!important;
}
.shopify-pc__banner__dialog,
.shopify-pc__prefs__dialog{
  border-radius: 10px!important;
}
/*FONTS END*/
/*NEWSLETTER SECTION START*/

.newsletter-section__content form{
  flex-direction: column;
}
.input-group .input-group-btn-overidde-override:first-child, .input-group .input-group-btn-overidde:first-child>.btn, .input-group .input-group-field:first-child, .input-group input[type=hidden]:first-child+.input-group-btn-overidde>.btn, .input-group input[type=hidden]:first-child+.input-group-field{
  border-radius: 10px;
}
.input-group-btn-overidde-overidde button{
  width: 100%;
  margin-top: 8px;
}

.input-group-btn-overidde .btn{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  height: 50px;
 
}
.note--success{
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
}
.input-group-btn-overidde .form__submit--small{
  display: none;
}
.input-group .input-group-field{
  height: 50px;
}
.input-group .input-group-field::placeholder{
  opacity: 0.5;
}
.input-group-btn-overidde{
  background-color: transparent!important;
   margin-bottom: 24px;
}
.newsletter-section .form__submit--large{
  display: flex;
}

.newsletter-section .newsletter__input-group{
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  gap: 16px;
}
.newsletter-container .newsletter-section{
  background-color: var(--colorBody);
  border-radius: 10px;
  overflow: hidden;
  gap: 16px;
}
.newsletter-container .page-width{
  padding: 24px 16px;
}
.newsletter-container .newsletter-section{
  padding: 0;
}

.newsletter-section__content{
  padding: 0 16px;
}

/*NEWSLETTER SECTION END*/

.site-footer{
  background-color:var(--colorFooter);
  color:var(--colorFooterText);
  padding-bottom:40px;
}
.hero__link .btn{
  margin-top: 16px;
}
.shopify-pc__banner__dialog button.shopify-pc__banner__btn-accept,
.shopify-pc__banner__dialog button.shopify-pc__banner__btn-decline,
.shopify-pc__prefs__header-actions button{
  border-radius: 10px!important;
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback)!important;
  font-weight: var(--typeHeaderWeight)!important;
  letter-spacing: var(--typeHeaderSpacing)!important;
  line-height: var(--typeHeaderLineHeight)!important;
}
.text-with-icons__blocks .text-with-icons__block{
  padding-bottom: 0;
}
.has-3-per-row .text-with-icons__block {
  width: 100%;
}

.text-with-icons__block-icon {
  width: 72px;
  margin-left: auto;
  margin-right: auto;
}

.index-section {
  margin: 0 !important;
  display: flex;
  width: 100%;
}
.index-section>*{
  width: 100%;
}

.footer__newsletter-btn svg path {
  stroke: var(--colorInputText);
}

.search__input {
  border-radius: 10px;
}

.footer__copyright.site-footer__bottom-block.only-desktop {
  display: none;
  padding: none;
  width: fit-content;
  margin: unset;
}

.footer__copyright.site-footer__bottom-block.only-desktop span {
  padding: 0;
}

.site-footer .faux-select:active,
.site-footer .faux-select:focus,
.site-footer input:active,
.site-footer input:focus,
.site-footer select:active,
.site-footer select:focus,
.site-footer textarea:active,
.site-footer textarea:focus {
  border-color: var(--colorSaleTag);
}

.footer__social {
  justify-content: start;
}

.site-footer .faux-select,
.site-footer input,
.site-footer select,
.site-footer textarea {
  border-radius: 10px;
  background-color: transparent;
  color: var(--colorInputText);
  width: 100%;
  border-color: var(--colorInputText);
  padding: 10px;
  max-width: unset;
  padding-left: 48px;
}

.site-footer .faux-select::placeholder,
.site-footer input::placeholder,
.site-footer select::placeholder,
.site-footer textarea::placeholder {
  color: var(--colorInputText);
  opacity: 0.5;
}

.site-footer .collapsible-content p {
  opacity: 0.5;
}

.announcement a,
.announcement a:hover {
  color: var(--colorAnnouncementText);
  text-decoration: underline;
  opacity: 1;
  color: var(--colorBody);
}

.announcement__text p {
  margin-bottom: 0;
  font-size: 10px
}

.announcement__text {
  padding: 16px 0;
}

.site-header__logo {
  margin: 0 !important;
}

.page-full,
.page-width {
  padding: 0 16px;
}

.page-width {
  margin: 0 auto;
  max-width: 1500px;
}

.not_mobile {
  display: none!important;
}

.megamenu__promo-image {
  border-radius: 10px;
  overflow: hidden;
}

.header-wrapper--overlay .site-header:not(.site-header--stuck) .site-header__logo-link img {
  filter: brightness(0) invert(1);
}

.text-with-icons {
  margin: 0;
  background-color: var(--color_background);
}

.text-with-icons img,
.text-with-icons image-element {
  background-color: var(--color_background);
}

.btn,
.rte .btn,
.shopify-payment-button .shopify-payment-button__button--unbranded,
.community-section .section-header p,
.community-section .right-text h3{
  border-radius: 10px !important;
  padding: 12px 32px;
  font-size: 18px;
  text-transform: uppercase;
}

.countdown__display-block {
  border-right: none;
  align-items: center;
}

.countdown__display-block h2 {

  color: var(--colorSaleTag);
  text-transform: uppercase;
  margin-bottom: 0;
}

.countdown__block--content {
  align-items: start;
}

.countdown__display-block span,
.footer__hover-link {
  font-size: 14px;
  transition: opacity 0.2s ease-in-out;
}

.hero__link .btn--inverse {
  border-color: var(--colorHeroText);
  color: var(--colorBtnPrimary);
  background-color: var(--colorHeroText) !important;

}

.countdown__background-image,
.countdown__background-image-wrapper,
.countdown__background-image-wrapper image-element {
  position: static;
  display: flex;
  width: 100%;
  height: 100%;
  aspect-ratio: 0.9;
}


.hero__link {
  display: block;
}

/*lists css*/

.hero__subtitle .animation-contents ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero__subtitle .animation-contents ul li {
  position: relative;
  padding-left: 24px;
  /* space for the icon */
  margin-bottom: 0.5em;
}

.hero__subtitle .animation-contents ul li::before {
  content: "";
  position: absolute;
  top: 0;
  /* adjust to vertically center */
  left: 0;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'>\<circle cx='8' cy='8' r='7' fill='none' stroke='%23ffffff' stroke-width='2'/>\<path d='M5 8 L7 10 L11 6' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round'/>\</svg>") no-repeat center center;
  background-size: contain;
}

.hero__subtitle {
  width: 100%;
}

.hero__subtitle strong {
  font-size: 16px;
  letter-spacing: 0;
}

.hero__text-content.vertical-bottom.horizontal-left,
.hero__text-content.vertical-bottom.horizontal-left>* {
  max-width: 700px;
}

.hero__title {
  display: flex;
  margin-top: 16px;
  height: fit-content;
}

[data-type_header_text_alignment=true] .section-header{
  text-align: start;
}

.hero__icon-plu-txt {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero__icon-plu-txt p {
  margin-bottom: 0;
}

/* countdown_section */
.countdown__mobile-image-wrapper {
  position: static;
  border-radius: 10px;
  overflow: hidden;
}

.countdown__mobile-image-wrapper img {
  aspect-ratio: 0.9;
}

.counddown-section__wrapper {
  background-color: var(--color_background);
}

.countdown-wrapper {
  padding: 16px;

}

.countdown-layout--banner .countdown__content {
  padding: 16px;
  max-height: none;
}

.countdown__content {
  border-radius: 10px;
  text-align: left;
}

.countdown__display-block {
  padding: 0;
}

.countdown__display {
  justify-content: start;
}



.countdown__richtext p {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.8px;
  margin-bottom: 0;
}

.countdown__content {
  background-color: var(--colorBody);
}

.countdown__block--button {
  width: fit-content;
}

.countdown__block {
  margin-left: 0;
}

/*FOOTER STYLE*/
.site-footer {
 
  padding: 32px 0px;

}

.footer__link-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.footer__links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__link-list h5,
.footer__menu_txt p,
.collapsible-content__inner {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0;
  text-transform: none;
}

.site-footer .grid__item {
  padding-left: 0;
}

.site-footer .grid {
  margin-left: 0;
}

.footer-left-part__wrapper {
  display: flex;
  flex-direction: column;
}

/*FOOTER STYLE END*/


/*PRODUCT CARD MODULE START*/
.product-img-module{
  width: 96px;
  border-radius: 10px;
  overflow: hidden;
  height: fit-content;
}
.product-img-module .image-wrap{
  margin-bottom: 0;
}
.modal--quick-shop .modal__inner{
  border-radius: 10px;
  overflow: hidden;
}

.modal--quick-shop .product-single__vendor{
  display: none;
}
.modal--quick-shop .product-block--header{
  display: flex;
  gap: 16px;
  align-items: center;
}

.modal--quick-shop .modal__inner .product-single__sticky{
  display: none;
}

.modal--quick-shop .product-single__title{
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
}

.modal--quick-shop .hide-for-modal,
.modal--quick-shop .product-block--sales-point{
  display: none;
}

.modal--quick-shop .shopify-payment-button{
  display: none!important;
}

  .modal-open{
   overflow: hidden !important;
    height: 100vh;
    position: relative;
  }

  .modal.modal--quick-shop {
    align-items: flex-end;
}
.modal--square .modal__centered-content{
  min-width: unset;
}
.modal--quick-shop .product-buy-btns .product-block,
.modal--quick-shop .product-block.product-buy-btns {
  margin-bottom: 0;
}
.modal--quick-shop .grid{
 margin: 0;
}

.grid-product__has-quick-shop .grid-product__content:hover .grid-product__tag{
  opacity: 1;
  transition: unset;
}

.grid-product__tag.grid-product__tag--custom{
  background-color:var(--colorSaleTag);
}

 .grid-product__tag{
    font-weight:bold;
    border-radius: 10px;
    top: 8px;
    left: 50%;
    right: unset;
    max-width: calc(100% - 16px);
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: fit-content;
    text-align: center;
    font-size: 9px;
    line-height: 130%;
    letter-spacing: 0;

}
.product__price--compare{
  opacity: 0.5;
}
.modal__close .icon,
.modal__fake-close .icon{
  width: 16px;
  height: 16px;
}
.modal__close .icon path,
.modal__fake-close .icon path,
svg.icon-close path{
stroke-linecap: round;
}
.modal-open .modal .modal__inner{
  overflow: visible;
}
.drawer__close-button .icon{
  height: 16px;
  width: 16px;
}
.modal__fake-close{
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background-color: var(--colorBody);
  border-radius: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
}
.modal--quick-shop .product-single__meta{
  padding-left: 0;
}

.modal--quick-shop .modal__inner{
  max-width: 528px;
}

.grid-product__tag{
  pointer-events: none;
}

.modal--quick-shop .grid__item{
  padding-left: 0;
}
.variant-input-wrap label{
  border-radius: 10px;
  padding: 8px;
}
.variant-input-wrap label.color-swatch{
  border-radius: 100%;
  width: 22px;
  height: 22px;
  padding: 0;
}

.color-swatch:before{
  border-radius: 100%;
  border: none;
}
 [data-animate_buttons=true] .modal--quick-shop .btn:not(.btn--no-animate):not(.btn--tertiary):not(.btn--static){
background-color: var(--colorCartDot);
}

.color-swatch--small{
  border-radius: 100%;
}
.grid-product__vendor{
  margin-top: 8px;
  opacity: 0.5;
  margin-bottom: 8px;
}
.grid-product__price--original{
  opacity: 0.5;
}

.grid__image-ratio--portrait,
.grid__image-ratio--portrait:before{
  padding-bottom: 0;
  aspect-ratio: 0.8;
}
/*PRODUCT CARD MODULE END*/

/*Collecction section start*/
#CollectionSection .page-width{
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
}

#CollectionSection .page-width .small--grid--flush{
  margin: 0;
}

.pagination .next, .pagination .prev{
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--colorBorder);
  color: var(--colorBorder);
  margin: 0;

}
.pagination{
      display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.pagination .next .icon, .pagination .prev .icon{
  color: var(--colorBorder);
}
 .pagination a{
 height: fit-content;
 display: flex;
 justify-content: center;
 align-items: center;
height: 100%;
padding: 0;
}
.pagination .page.current{
  height: fit-content;
  opacity: 0.5;
}
.pagination .page.current{
  padding: 10px 12px;
  background-color: var(--colorBorder);
}

.pagination .page{
  padding: 10px 12px;

}
.pagination-page__wrapper{
  border: 1px solid var(--colorBorder);
  border-radius: 10px;
  display: flex;
  overflow: hidden;

}


.drawer .cart__item--details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.drawer .cart__item--details .cart__item--name{
  width: 100%;
}
.drawer .cart__item--details .cart__item--qty{
  width: fit-content;
  min-width: 100px;
  opacity: 0.6;
}
.drawer__header{
  padding: 0;
  min-height: 64px;
}
.cart__item--price{
  margin-left: 0;
  margin-bottom: 8px;
  opacity: 0.6;
}
    .drawer__fixed-header, .drawer__footer, .drawer__scrollable{
      padding: 16px;
    }
/*Collecction section end*/
@media only screen and (max-width: 589px) {
.cart__item--price{
  margin: 8px 0;
  opacity: 0.5;
}
  .text-with-icons__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding: 16px;
    margin: 0;
  }

  .site-nav__link--icon .icon {
    height: 22px !important;
    width: 22px !important;
  }

  .footer__logo-social {
    padding: 0;
  }

  .site-footer .grid {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {

  #CollectionAjaxContent .small--grid--flush .product-grid-container .grid__item{
    padding-left:16px;
}
    .newsletter-section {
        flex-direction: column;
        padding: 30px 0;
    }
.newsletter-section--image-left{
  flex-direction: column-reverse;
}

.newsletter-section__content{
  margin-left: 0;

}

/*PRODUCT CARD*/
.grid-product__tag.grid-product__tag--custom{
  background-color:var(--colorSaleTag);
}

 .grid-product__tag{
    border-radius: 10px;
    top: 8px;
    left: 50%;
    right: unset;
    width: calc(100% - 16px);
    transform: translateX(-50%);
    display: flex;
    justify-content: center;

}

.quick-product__btn{
  opacity: 1;
  bottom: 16px;
  right: 8px;
  top: unset;
  background-color: var(--colorBody);
  transition: all 0.2s ease-in-out;
  scale: unset;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: unset;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Added box shadow */
 z-index: 2;
 pointer-events: all;
 scale: none;
}
.grid-product__content:hover .quick-product__btn:hover{
  scale: unset;
    transform: unset;
}
.quick-product__btn svg{
  height: 22px;
  width: 22px;
}
.quick-product__btn svg path{
  stroke: var(--colorInputText);
}


/*PRODUCT CARD END*/
  
}

@media only screen and (min-width: 590px) {
.drawer__scrollable{
  padding-left: 32px;
  padding-right: 32px;
}


      .drawer__footer::after{
        width: 100%;
        left: 0;
      }
  .section-blog-showcase .medium-up--one-third{
    width: unset;
  }
  .grid-product__price{
    margin-top: 16px;
    margin-bottom: 6px;
  }
 .grid-product__tag{
  font-size: 10px;
 }
  [data-type_header_accent_transform=true] .footer__title {
    font-size: 28px;
    line-height: 130%;
    letter-spacing: -0.8px;
    font-style: italic;
  }

  .text-with-icons__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding: 16px;
    margin: 0;
  }

  .text-with-icons__blocks {
    padding: 32px;
  }

  .site-nav--has-dropdown>details>summary {
    /* your existing styles… */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  details>.site-nav__dropdown {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .newsletter__input-group{
    max-width: unset;
  }

  .footer__title,
  .big-heading,
  h2,
   .big-heading p,
  .video-slideshow-title h2,
  .newsletter-section__content .h2 {
     font-family: var(--typeHeaderPrimary);
  font-size: 36px;
  font-style: italic;
  letter-spacing: -0.8px;
  line-height: 44px;
    font-weight: bold;
  }

  /*Count down section*/
  .countdown-layout--banner .countdown__block {
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;
  }

  .site-footer .grid__item.grid-newsletter {
    max-width: 400px;
    margin-top: 32px;
  }

  .countdown-block-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .countdown-block-wrapper>* {
    width: 100%;
    max-width: unset;
  }

  .countdown__mobile-image-wrapper {
    display: none;
  }

  .countdown__block>* {
    width: 100%;
  }

  .countdown__background-image-wrapper {
    border-radius: 10px;
    overflow: hidden;
  }

  .countdown-layout--banner .countdown__content {
    flex-direction: column;
    gap: 32px;
    padding: 24px;

  }

  .countdown-wrapper {
    padding: 24px;
  }

  .countdown-layout--banner .countdown__content>* {
    margin-left: 0;
  }

  .site-header {
    padding: 5px 0;
  }

  .site-nav__link--icon .icon {
    width: 22px !important;
    height: 22px !important;
  }

  .hero__link .btn--inverse {
    margin-top: 24px;
  }

  .header-layout[data-logo-align=center] .header-item--logo {
    margin-left: 0;
  }
}

@media screen and (min-width: 769px) {
  .human-action-info__wrapper{
  gap: 64px;
}
  .page-width.section-blog-showcase{
    padding: 64px;
  }
  .article__title{
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.9px;
  }
  .section-blog-showcase .grid.grid--uniform{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .announcement__text p {
    font-size: 14px;

  }
.quick-product__label {
  font-size: 14px;
  line-height: 22.4px;
  letter-spacing: 0;
}
.quick-product__btn-desk {
  margin-top: 16px;
  padding: 8px 32px;
}
.collection-showcase__wrapper{
  padding: 48px 32px;
}
.modal--quick-shop.modal {
  justify-content: end;
}
.newsletter-section{
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  height: fit-content;
}
  .newsletter-section--image-left{
    direction: rtl;
  }
  .newsletter-section--image-left > * {
  direction: ltr; /* Reset direction for direct children only */
}
  .text-with-icons__blocks {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
  }

  .not_mobile {
    display: flex!important;
  }
.newsletter-section__content{
  padding: 0 16px;
}


  .newsletter-section>*{
    flex: 1;
  }

  .newsletter-section .newsletter-section__image{
    flex: 1;
  }

  .newsletter-section__content>*{
    max-width: 454px;
  }

  .not_desktop {
    display: none!important;
  }

  .site-nav__icons {
    display: flex;
  }

  .countdown-layout--banner .countdown__content {
    flex-direction: row;
  }

  .countdown-block-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }

  .counddown-section__wrapper {
    background-color: var(--colorBody);
  }

  .countdown__content {
    background-color: var(--color_background);
  }

  .countdown-layout--banner .countdown__content {
    padding: 32px;
    gap: 100px;
  }

  .countdown-wrapper {
    padding: 32px 24px;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
.newsletter-section__image{
  border-radius: 10px;
  overflow: hidden;

}
.newsletter-container .newsletter-section{
  padding-left: 16px;
}
}
@media screen and (min-width: 1025px) {
    .drawer--right{
    width: 648px;
    right: -648px;
  }
  
  .drawer--right.drawer--is-open{
    transform: translateX(-648px);
  }
  .collection-title{
    font-size: 42px;
    letter-spacing: -0.96px;
    line-height: 52.8px;
  }
 .grid-product__tag{
  width: 100%;
  max-width: calc(100% - 32px);
}
  .newsletter-section__content{
    padding: 0 48px;
    
  }
  .countdown-layout--banner .countdown__content {
    gap: 200px;
  }

  .footer-left-part__wrapper {
    height: 100%;

  }

  .footer__copyright.site-footer__bottom-block {
    display: none;
  }

  .footer__copyright.site-footer__bottom-block.only-desktop {
    display: flex;
    margin-top: auto;
  }

  .site-footer .grid {
    display: grid;
    grid-template-columns: 0.65fr 1fr;
    grid-auto-flow: column;
    /* ← fill left-to-right into columns */
    gap: 24px;
  }

  .site-footer .grid__item.grid-newsletter {
    max-width: 546px;
  }

  .site-footer .grid> :first-child {
    grid-column: 2;
    grid-row: 1;
    /* force every child into that single row */
    margin-left: auto;
    max-width: 500px;
  }

  .site-footer .grid> :last-child {
    grid-column: 1;
    grid-row: 1;
    /* force every child into that single row */
  }

  .grid:after {
    content: none;
  }

  .site-footer .grid__item.grid-newsletter {
    margin-top: 0;
  }

  .footer__link-group {
    gap: 48px;

  }

  .footer__collapsible {
    padding-bottom: 48px;
  }

  footer .page-width {
    padding-left: 32px;
    padding-right: 32px;
  }

  .footer__hover-link:hover {
    opacity: 0.8;
  }
.newsletter-container .newsletter-section{
  gap: 0;
}

.newsletter-section__content .enlarge-text p{
  margin-bottom: 0;
}
  .newsletter-container .page-width{
    padding: 48px 32px;
  }
}