/*FONTS*/
.text-with-icons__block-title h3 {
  font-size: 18px;
  font-family: var(--typeHeaderPrimary);
  font-style: italic;
  line-height: 28px;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}

.site-footer .collapsible-content p,
.collapsible-trigger span,
.faq__txt p {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0;
}

.countdown__display-block h2 {
  font-family: var(--typeHeaderPrimary);
  font-size: 36px;
  font-style: italic;
  letter-spacing: 2.2px;
  line-height: 44px;
}

.countdown__heading,
.countdown__heading>*,
.grid-newsletter .collapsible-trigger-btn,
.big-heading p{
  font-family: var(--typeHeaderPrimary);
  font-size: 28px;
  font-style: italic;
  letter-spacing: -0.8px;
  line-height: 130%;
  font-weight: bold;
}
.shopify-pc__banner__body-title,
.shopify-pc__banner__dialog h2{
    font-family: var(--typeHeaderPrimary)!important;
    font-size: 28px!important;
    font-style: italic!important;
    letter-spacing: -0.8px!important;
    line-height: 130%!important;
    font-weight: bold!important;
}
.shopify-pc__banner__body,
.shopify-pc__banner__dialog p{
  font-family: var(--typeHeaderPrimary)!important;
}
.shopify-pc__prefs__header-close:focus{
  box-shadow: none!important;
}
.shopify-pc__banner__dialog,
.shopify-pc__prefs__dialog{
  border-radius: 10px!important;
}
/*FONTS END*/
.shopify-pc__banner__dialog button.shopify-pc__banner__btn-accept,
.shopify-pc__banner__dialog button.shopify-pc__banner__btn-decline,
.shopify-pc__prefs__header-actions button{
  border-radius: 10px!important;
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback)!important;
  font-weight: var(--typeHeaderWeight)!important;
  letter-spacing: var(--typeHeaderSpacing)!important;
  line-height: var(--typeHeaderLineHeight)!important;
}
.text-with-icons__blocks .text-with-icons__block{
  padding-bottom: 0;
}
.has-3-per-row .text-with-icons__block {
  width: 100%;
}

.text-with-icons__block-icon {
  width: 72px;
  margin-left: auto;
  margin-right: auto;
}

.index-section {
  margin: 0 !important;
}

.footer__newsletter-btn svg path {
  stroke: var(--colorInputText);
}

.search__input {
  border-radius: 10px;
}

.footer__copyright.site-footer__bottom-block.only-desktop {
  display: none;
  padding: none;
  width: fit-content;
  margin: unset;
}

.footer__copyright.site-footer__bottom-block.only-desktop span {
  padding: 0;
}

.site-footer .faux-select:active,
.site-footer .faux-select:focus,
.site-footer input:active,
.site-footer input:focus,
.site-footer select:active,
.site-footer select:focus,
.site-footer textarea:active,
.site-footer textarea:focus {
  border-color: var(--colorSaleTag);
}

.footer__social {
  justify-content: start;
}

.site-footer .faux-select,
.site-footer input,
.site-footer select,
.site-footer textarea {
  border-radius: 10px;
  background-color: transparent;
  color: var(--colorInputText);
  width: 100%;
  border-color: var(--colorInputText);
  padding: 10px;
  max-width: unset;
  padding-left: 48px;
}

.site-footer .faux-select::placeholder,
.site-footer input::placeholder,
.site-footer select::placeholder,
.site-footer textarea::placeholder {
  color: var(--colorInputText);
  opacity: 0.5;
}

.site-footer .collapsible-content p {
  opacity: 0.5;
}

.announcement a,
.announcement a:hover {
  color: var(--colorAnnouncementText);
  text-decoration: underline;
  opacity: 1;
  color: var(--colorBody);
}

.announcement__text p {
  margin-bottom: 0;
  font-size: 10px
}

.announcement__text {
  padding: 16px 0;
}

.site-header__logo {
  margin: 0 !important;
}

.page-full,
.page-width {
  padding: 0 16px;
}

.page-width {
  margin: 0 auto;
  max-width: 1500px;
}

.not_mobile {
  display: none!important;
}

.megamenu__promo-image {
  border-radius: 10px;
  overflow: hidden;
}

.header-wrapper--overlay .site-header:not(.site-header--stuck) .site-header__logo-link img {
  filter: brightness(0) invert(1);
}

.text-with-icons {
  margin: 0;
  background-color: var(--color_background);
}

.text-with-icons img,
.text-with-icons image-element {
  background-color: var(--color_background);
}

.btn,
.rte .btn,
.shopify-payment-button .shopify-payment-button__button--unbranded {
  border-radius: 10px !important;
  padding: 12px 32px;
  font-size: 18px;
  text-transform: uppercase;
}

.countdown__display-block {
  border-right: none;
  align-items: center;
}

.countdown__display-block h2 {

  color: var(--colorSaleTag);
  text-transform: uppercase;
  margin-bottom: 0;
}

.countdown__block--content {
  align-items: start;
}

.countdown__display-block span,
.footer__hover-link {
  font-size: 14px;
  transition: opacity 0.2s ease-in-out;
}

.hero__link .btn--inverse {
  border-color: var(--colorHeroText);
  color: var(--colorBtnPrimary);
  background-color: var(--colorHeroText) !important;

}

.countdown__background-image,
.countdown__background-image-wrapper,
.countdown__background-image-wrapper image-element {
  position: static;
  display: flex;
  width: 100%;
  height: 100%;
  aspect-ratio: 0.9;
}


.hero__link {
  display: block;
}

/*lists css*/

.hero__subtitle .animation-contents ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero__subtitle .animation-contents ul li {
  position: relative;
  padding-left: 24px;
  /* space for the icon */
  margin-bottom: 0.5em;
}

.hero__subtitle .animation-contents ul li::before {
  content: "";
  position: absolute;
  top: 0;
  /* adjust to vertically center */
  left: 0;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'>\<circle cx='8' cy='8' r='7' fill='none' stroke='%23ffffff' stroke-width='2'/>\<path d='M5 8 L7 10 L11 6' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round'/>\</svg>") no-repeat center center;
  background-size: contain;
}

.hero__subtitle {
  width: 100%;
}

.hero__subtitle strong {
  font-size: 16px;
  letter-spacing: 0;
}

.hero__text-content.vertical-bottom.horizontal-left,
.hero__text-content.vertical-bottom.horizontal-left>* {
  max-width: 700px;
}

.hero__title {
  display: flex;
  margin-top: 16px;
  height: fit-content;
}

.hero__icon-plu-txt {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero__icon-plu-txt p {
  margin-bottom: 0;
}

/* countdown_section */
.countdown__mobile-image-wrapper {
  position: static;
  border-radius: 10px;
  overflow: hidden;
}

.countdown__mobile-image-wrapper img {
  aspect-ratio: 0.9;
}

.counddown-section__wrapper {
  background-color: var(--color_background);
}

.countdown-wrapper {
  padding: 16px;

}

.countdown-layout--banner .countdown__content {
  padding: 16px;
  max-height: none;
}

.countdown__content {
  border-radius: 10px;
  text-align: left;
}

.countdown__display-block {
  padding: 0;
}

.countdown__display {
  justify-content: start;
}



.countdown__richtext p {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.8px;
  margin-bottom: 0;
}

.countdown__content {
  background-color: var(--colorBody);
}

.countdown__block--button {
  width: fit-content;
}

.countdown__block {
  margin-left: 0;
}

/*FOOTER STYLE*/
.site-footer {
  background-color: var(--color_background);
  padding: 32px 0px;
  color: var(--colorInputText);
}

.footer__link-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.footer__links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__link-list h5,
.footer__menu_txt p,
.collapsible-content__inner {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0;
  text-transform: none;
}

.site-footer .grid__item {
  padding-left: 0;
}

.site-footer .grid {
  margin-left: 0;
}

.footer-left-part__wrapper {
  display: flex;
  flex-direction: column;
}

/*FOOTER STYLE END*/

@media only screen and (max-width: 589px) {

  .text-with-icons__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding: 16px;
    margin: 0;
  }

  .site-nav__link--icon .icon {
    height: 22px !important;
    width: 22px !important;
  }

  .footer__logo-social {
    padding: 0;
  }

  .site-footer .grid {
    margin: 0;
  }
}

@media only screen and (min-width: 590px) {
  [data-type_header_accent_transform=true] .footer__title {
    font-size: 28px;
    line-height: 130%;
    letter-spacing: -0.8px;
    font-style: italic;
  }

  .text-with-icons__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding: 16px;
    margin: 0;
  }

  .text-with-icons__blocks {
    padding: 32px;
  }

  .site-nav--has-dropdown>details>summary {
    /* your existing styles… */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  details>.site-nav__dropdown {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .footer__title,
  .big-heading {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.8px;
    font-family: var(--typeHeaderPrimary);
    font-style: italic;
    color: var(--colorInputText);
  }

  /*Count down section*/
  .countdown-layout--banner .countdown__block {
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;
  }

  .site-footer .grid__item.grid-newsletter {
    max-width: 400px;
    margin-top: 32px;
  }

  .countdown-block-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .countdown-block-wrapper>* {
    width: 100%;
    max-width: unset;
  }

  .countdown__mobile-image-wrapper {
    display: none;
  }

  .countdown__block>* {
    width: 100%;
  }

  .countdown__background-image-wrapper {
    border-radius: 10px;
    overflow: hidden;
  }

  .countdown-layout--banner .countdown__content {
    flex-direction: column;
    gap: 32px;
    padding: 24px;

  }

  .countdown-wrapper {
    padding: 24px;
  }

  .countdown-layout--banner .countdown__content>* {
    margin-left: 0;
  }

  .site-header {
    padding: 5px 0;
  }

  .site-nav__link--icon .icon {
    width: 22px !important;
    height: 22px !important;
  }

  .hero__link .btn--inverse {
    margin-top: 24px;
  }

  .header-layout[data-logo-align=center] .header-item--logo {
    margin-left: 0;
  }
}

@media screen and (min-width: 769px) {
  .announcement__text p {
    font-size: 14px;

  }

  .text-with-icons__blocks {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
  }

  .not_mobile {
    display: flex!important;
  }

  .not_desktop {
    display: none!important;
  }

  .site-nav__icons {
    display: flex;
  }

  .countdown-layout--banner .countdown__content {
    flex-direction: row;
  }

  .countdown-block-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }

  .counddown-section__wrapper {
    background-color: var(--colorBody);
  }

  .countdown__content {
    background-color: var(--color_background);
  }

  .countdown-layout--banner .countdown__content {
    padding: 32px;
    gap: 100px;
  }

  .countdown-wrapper {
    padding: 32px 24px;
  }
}

@media screen and (min-width: 1025px) {

  .countdown-layout--banner .countdown__content {
    gap: 200px;
  }

  .footer-left-part__wrapper {
    height: 100%;

  }

  .footer__copyright.site-footer__bottom-block {
    display: none;
  }

  .footer__copyright.site-footer__bottom-block.only-desktop {
    display: flex;
    margin-top: auto;
  }

  .site-footer .grid {
    display: grid;
    grid-template-columns: 0.65fr 1fr;
    grid-auto-flow: column;
    /* ← fill left-to-right into columns */
    gap: 24px;
  }

  .site-footer .grid__item.grid-newsletter {
    max-width: 546px;
  }

  .site-footer .grid> :first-child {
    grid-column: 2;
    grid-row: 1;
    /* force every child into that single row */
    margin-left: auto;
    max-width: 500px;
  }

  .site-footer .grid> :last-child {
    grid-column: 1;
    grid-row: 1;
    /* force every child into that single row */
  }

  .grid:after {
    content: none;
  }

  .site-footer .grid__item.grid-newsletter {
    margin-top: 0;
  }

  .footer__link-group {
    gap: 48px;

  }

  .footer__collapsible {
    padding-bottom: 48px;
  }

  footer .page-width {
    padding-left: 32px;
    padding-right: 32px;
  }

  .footer__hover-link:hover {
    opacity: 0.8;
  }
}