.video-slideshow-section .flickity-viewport{
  height: 400px!important;
}

.video-slider {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
}

.video-slider.flickity-enabled{ 
    display: block;
   
  touch-action: pan-y; /* prevents scroll lock on iOS */

}
/* Allow Flickity to drag over iframe by default */
.video-wrapper iframe {
  pointer-events: auto;
}

.iframe-overlay-wrapper {
  pointer-events: auto;
  overflow: hidden;
  height: fit-content;
}

.flickity-dragging .iframe-overlay-wrapper {
  pointer-events: none;
}

.video-slideshow-section .flickity-slider {
  display: flex;
  height: fit-content;
}

.video-slideshow-section .video-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  padding-bottom: 100%;
  margin-right: 16px;
border-radius: 10px;
  overflow: hidden;
  background-color: var(--color_background);
}

.video-slideshow-section .video-wrapper,
.video-slideshow-section .iframe-overlay-wrapper,
.video-slideshow-section .video-slide iframe,
.video-slideshow-section .video-slide video {
  height: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.video-slide {
  border-radius: 10px;
  overflow: hidden;
  padding-right: 16px;
    width: 100%; /* or a fixed value like 400px if you want visible partial slides */
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
   
}

.video-drag-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
  cursor: grab;
  pointer-events: auto;
  transition: opacity 0.2s;
}

.flickity-enabled:not(.flickity-dragging) .video-drag-overlay {
  pointer-events: none;
}
.video-slideshow-section .video-wrapper iframe,
.video-slideshow-section .video-wrapper video {
  max-width: 100%;
  height: auto; 
  display: block;
}

.video-slideshow-section .video-wrapper{
    padding-bottom: 0;
}

.video-slide .video-wrapper iframe,
.video-slide .video-wrapper video{
    height: 100%;
}
.flickity-prev-next-button{
    transition: all 0.2s ease-in-out;
}
video-slideshow .flickity-page-dots{
    bottom: -32px;
}
.product-small-link{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px;
    border: 1px solid var(--colorBorder);
    border-radius: 10px;
    margin-top: 8px;
}
.product-img{
    width: 40px;
    border-radius: 10px;
    overflow: hidden;
}
.product-img .image-wrap{
    margin-bottom: 0;
}
.video-slideshow-section{
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-body);

}

.small-product-bag-icon{
    margin-left: auto;
}

.video-slideshow-title{
    padding: 0 16px;
}

.slideshow-wrapper .flickity-button{
    display: none;
}
@media screen and (min-width: 1025px) {
    .video-slideshow-section{
        padding: 48px;
    }

    .video-slideshow .flickity-page-dots{
        bottom: 0;
    }

    .video-slideshow-title{
        padding: 0;
    }
}