.video-slideshow-section .flickity-viewport{
    height: 400px;
}

.video-slider {
 width: 100%;
 height: 100%;
}

.video-slide {
  width: 100%; /* or a fixed value like 400px if you want visible partial slides */
  max-width: 100%;
  box-sizing: border-box;
}

.video-slideshow-section .flickity-slider {
  display: flex;
}

.video-slideshow-section .video-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  padding-bottom: 100%;
}

.video-slide {
  margin-right: 20px;
}

.video-slideshow-section .video-wrapper iframe,
.video-slideshow-section .video-wrapper video {
  max-width: 100%;
  height: auto; 
  display: block;
}

.video-slideshow-section .video-wrapper{
    padding-bottom: 0;
}

.video-slide .video-wrapper iframe,
.video-slide .video-wrapper video{
    height: 100%;
}

video-slideshow .flickity-page-dots{
    bottom: 8px;
}

.video-slideshow-section{
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-body);
}